:root{
    --black: #080809;
    --blue: #0087ff;
    --shadowBlue: #030b2cee;
    --hover:#00e1ff ;
    --lightestGrey: #BFBDC1;
    --lightGrey: #57565a;
    --grey: #3d3d3f;
    --darkGrey: #313133;
    --darkestGrey:#1e1d1f;

    --longTime: #eee;
    --enoughTime: #00d8ff;
    --shortTime: #0097ff;
    --noTime: #0070ff;

    --textColor: #e4e8ee;
}
*{
    color: var(--textColor);
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
nav {
    padding: 30px;
}
nav a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}
nav a.router-link-exact-active {
    color: var(--textColor);
    background-color: var(--blue);
}
body{
    background-color: var(--black);
    margin: 0;
    padding: 0;
}
.remove-default{
    appearance: none;
    border: none;
    outline: none;
    cursor: initial;
}
.button-holder{
    padding: 0.3rem;
    background-color: var(--darkGrey);
}
.button{
    padding: 0.5rem;
    background-color: var(--lightGrey);
    margin: 0rem 0.25rem;
    color: var(--lightestGrey);
    font-size: 0.9rem;
    font-weight: 600;
    border: 0.05rem solid var(--blue);
    border-radius: 0.35rem;
    cursor: pointer;
    /*box-shadow: 0.2rem 0.2rem 0.5rem var(--shadowBlue);*/
}
.button:hover{
    border: 0.05rem solid var(--hover);
}
.button:active{
    background-color: var(--blue);
    border: 0.05rem solid var(--blue);
}
.radius-and-shadow{
    border-radius: 0.45rem;/*
    box-shadow: 0.2rem 0.2rem 0.2rem var(--darkestGrey);*/
}
.main-wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    box-shadow: 0.3rem 0.3rem 0.8rem var(--darkestGrey);
}
.input-text{
    border-radius: 0.5rem;
    background-color: var(--darkGrey);
    color: var(--lightestGrey);
}